.App {
  font-family: sans-serif;
  text-align: center;
}

.inp {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  background: #ddd;
  padding: 0.5em;
  justify-content: space-evenly;
}

table {
  margin: 2em auto;
}
td {
  text-align: right;
  padding: 0.1em 1em;
}
